<div
  class="bg-image"
  style="
    background-image: url('img12.jpeg');
    height: 100vh;
  "
>

<div class="about-section">
    <h1>About Us</h1>
    <p>86% of consumers say authenticity is important when choosing a brand to support, so it’s important to get this right.</p>
  
  </div>
  <br><br>
  <div class="row">
    <div class="column">
      <div class="card" style="background-image: url('img3.jpeg');">
        
        <div class="container">
          <h2 style="text-align: center; color: brown;">Tech Team</h2>
          <img class="card-img-top" src="./assets/img50.jpeg" alt="Card image" style="width:300px; height:200px"><br><br>
          <p class="title" style="color:blue;">We are available 24*7 for tech query </p>
          <p>We have the best tech team with best people . We can assure you will not any problem during your shopping and transaction</p>
          <p>tech_team@shop.com</p>
          <p><button class="button" routerLink="/contact">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card" style="background-image: url('img3.jpeg');">
        <div class="container">
          <h2 style="text-align: center; color: brown;">Sales Team</h2>
          <img class="card-img-top"  style="margin: 20px;" src="./assets/img53.jpeg" alt="Card image" style="width:300px; height:200px"><br><br>
          <p class="title" style="color:blue;">We are available 24*7 for Sales query</p>
          <p>We ensure the best quality product is delivered to your home step. We are always their standing  hand in hand if you face issue with sales</p>
          <p>sales_team@shop.com</p>
          <p><button class="button" routerLink="/contact">Contact</button></p>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card" style="background-image: url('img3.jpeg');">
       
        <div class="container">
          <h2 style="text-align: center; color: brown;">Finance Team</h2>
          <img class="card-img-top" src="./assets/img55.jpeg" alt="Card image" style="width:300px; height:200px"><br><br>
          <p class="title" style="color:blue;">We are available 24*7 for Finance query</p>
          <p>We ensure you never face any issue during you transaction online or offline. We are always with you ensuring best banking experience</p>
          <p>finance_team@shop.com</p>
          <p><button class="button" routerLink="/contact">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <!-- <div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="http://localhost:4200/aboutus">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Company Name © 2018</p>
    </footer>
  </div> -->
  <div class="footer-basic">
    <footer>
        <div class="social">
          <a href="https://www.facebook.com/mtxb2b/" target="_blank" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/mtx_inc?lang=en"  target="_blank" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href=" https://www.mtxb2b.com/s/" target="_blank" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="https://www.instagram.com/mtxinc/?hl=en" target="_blank" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://in.linkedin.com/company/mtx-group" target="_blank" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/Ashish9953" target="blank" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
          <a href="#"></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="http://localhost:4200/userdisplay">Services</a></li>
            <li class="list-inline-item"><a href="http://localhost:4200/aboutus">About</a></li>
            <li class="list-inline-item"><a href="http://localhost:4200/contact">Contact</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Company Name © 2018</p>
    </footer>
</div>
