<!-- <nav class="navbar navbar-dark bg-dark mb-5">
    <div class="container>">
        <ul class="nav-pills">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/electronics">Electronics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/aboutus">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/conatct">Contact US</a>
            </li>
        </ul>
    </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-primary ">
    <div class="container-fluid">
      <div class="navbar navbar-brand align-item-center d-flex">
        <i  style="font-size:30px; color:greenyellow;" class="fas fa-shipping-fast">
          Indiamart
        </i>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/electronics">Electronics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/userdisplay">User Display</a>
          </li>
          <li class="nav-item">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/aboutus">About</a>
            </li>
            
          <li class="nav-item ">
            <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact US</a>
          </li>
          
          <li style="margin-left:650px;" *ngIf="flaglogin"class="nav-item">
            <a class="nav-link" routerLinkActive="active"  routerLink="/login">Login</a>
          </li>
          <li  *ngIf="flaglogin" class="nav-item ">
            <a class="nav-link" routerLinkActive="active"  routerLink="/signUp">SignUp</a>
          </li>
          <li style="margin-left:700px;" *ngIf="flaglogin==false" class="nav-item">
            <a class="nav-link" routerLinkActive="active"  href="#"  (click)="logOutForAuthGuard()">Logout</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Authentication
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <div *ngIf="togglechecker==true"> 
                    <li><a class="dropdown-item" href="#" (click)="logInForAuthGuard()" routerLink="/login">Login</a></li>
                </div> 
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" routerLink="/signUp">SignUp</a></li>
              <li><hr class="dropdown-divider"></li>
              <div *ngIf="togglechecker==true"> 
                <li><a class="dropdown-item" href="#" (click)="logOutForAuthGuard()" >Logout</a></li>
            </div>
            </ul>
          </li>  -->
          
        </ul>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>